@media only screen and (max-width: 600px) {
  canvas {
    width: 300px;
    height: 300px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
  canvas {
    width: 500px;
    height: 500px;
  }
}

@media only screen and (min-width: 901px) {
  canvas {
    width: 800px;
    height: 800px;
  }
}

